  <app-header>Header content</app-header>
    <main>
      <section class="section">
        <div class="section-header">
          <h2 class="section__title">Articles that you need to review</h2>
        </div>
        <div *ngIf="articlesToReview === undefined || articlesToReview?.length === 0">
          <h3>You have no articles to review, good job! (or is it??)</h3>
        </div>
        <div class="article-box-container">
            <div class="article-box" *ngFor="let article of articlesToReview">              
              <div class="article-details" *ngIf="article.reviews !== undefined || article.reviews !== null"> <!--*ngIf="article.denied === null"-->
                <h3 class="article-title">Title: {{ article.title }}</h3>
                <h6 class="article-author">Author: {{ article.author }}</h6>
                  <div class="ratings">
                    <mat-icon class="star-style">star</mat-icon>
                    <p class="article-rating">Score: {{ calculateAverageScore(article) }}</p>
                  </div>
                <div>Description: {{article.description}}</div>
                <button class="select-article" (click)="article.articleId && navigateToSelectedArticle(article.articleId)">View article</button>
                <button class="bottom-button" (click)="article.articleId && openDialog(article.articleId)">Review article</button>
              </div>
          </div>
        </div>
      </section>
    </main>
    <app-footer>Footer content</app-footer>
