<body>
  <app-header>Header content</app-header>
  <main>
    <section class="section" style="height: auto !important;">
      <h1 class="section__title" style="margin-top: 50px;">Create new article</h1>
    </section>

    <section class="section" style="height: auto !important;">
      <b>Upload Article</b>
      <p>Upload your article here</p>
      <div class="drop-zone" ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>
          <mat-icon>cloud_download</mat-icon>
          <p>Drag & drop your files here</p>
          <p>OR</p>
          <p>Click here to select files</p>
        </ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </div>
    </section>

    <section class="section" style="margin-top: 50px; height: 20vh;">
      <b>Artcle title<span class="required">*</span></b>
      <p>Input article title</p>
      <input type="text" name="title" [(ngModel)]="title" placeholder="Article title" class="customTextField">
    </section>
    <section class="section">
      <b>Description</b>
      <p>Write a short description of the article</p>
      <textarea [(ngModel)]="description" placeholder="Input decription" class="description"></textarea>
    </section>
    <section class="section" style="margin-top: 50px; height: 20vh;">
      <b>Keywords<span class="required">*</span></b>
      <p>Input keywords seperated by ','</p>
      <input type="text" name="keywords" [(ngModel)]="keywords" placeholder="Input keywords" class="customTextField">
    </section>

    <section class="section" style="height:auto; margin-bottom:50px;">
      <button class="middle-button" (click)="this.submitArticle()">Publish</button>
    </section>
    <button (click)="getRandomWallets(2, '30')">asdasd</button>
  </main>
  <app-footer>Footer content</app-footer>
</body>
