<body>
  <app-header>Header content</app-header>
  <main>
    <section class="section">
      <div>
        <h1 class="middle-title">{{ currentArticle.title }}</h1>
      </div>
      <div class="prva-vrstica">
        <div class="ratings">
          <p class="article-rating">{{ currentArticle.rating }} | {{ articleObject.author }}</p>
        </div>
        <div class="buttonRight">

          <button class="middle-button" style="margin-left: 30px; float: right;">
            <span class="align-icon">
              <mat-icon>download</mat-icon>
            </span>
            <span>Download</span>
          </button>
          <button class="middle-button" style="float: right; background-color:#f2f3fd!important; color:blue">
            <span class="align-icon">
              <mat-icon>share</mat-icon>
            </span>
            <span>Share</span>
          </button>
        </div>
      </div>
    </section>

    <section class="section">
      <h1 class="middle-title">Article Description</h1>
      <p>{{ articleObject.description }}</p>
    </section>

    <section class="section" style="height:auto !important; margin-bottom:100px;">
      <h1 class="middle-title">Reviews</h1>
      <div class="ratings">
        <p class="article-rating">{{ currentArticle.rating }}</p>
      </div>
      <div class="prva-vrstica">
        <div class="square">
          <div class="prva-vrstica">
            <img style="width:70px" [src]="currentArticleReviewes.authorImage" alt="Article image" class="middle-image">
            <div class="druga-vrstica">
              <b style="margin-top:10px;">{{articleReviews[0].author}}</b>
              <p>{{articleReviews[0].score}}</p>
            </div>
          </div>
          <p>{{articleReviews[0]].comment | slice:0:200}}<span *ngIf="currentArticleReviewes.review.length > 200">...</span></p>
        </div>
        <div class="square">
          <div class="prva-vrstica">
            <img style="width:70px" [src]="currentArticleReviewes.authorImage" alt="Article image" class="middle-image">
            <div class="druga-vrstica">
              <b style="margin-top:10px;">{{articleReviews[1].author}}</b>
              <p>{{articleReviews[1].score}}</p>
            </div>
          </div>
          <p>{{articleReviews[1].comment | slice:0:200}}<span *ngIf="currentArticleReviewes.review.length > 200">...</span></p>
        </div>
      </div>
      <div class="prva-vrstica">
        <div class="square">
          <div class="prva-vrstica">
            <img style="width:70px" [src]="currentArticleReviewes.authorImage" alt="Article image" class="middle-image">
            <div class="druga-vrstica">
              <b style="margin-top:10px;">{{articleReviews[2].author}}</b>
              <p>{{articleReviews[2].score}}</p>
            </div>
          </div>
          <p>{{articleReviews[2].comment | slice:0:200}}<span *ngIf="currentArticleReviewes.review.length > 200">...</span></p>
        </div>
        <div class="square">
          <div class="prva-vrstica">
            <img style="width:70px" [src]="currentArticleReviewes.authorImage" alt="Article image" class="middle-image">
            <div class="druga-vrstica">
              <b style="margin-top:10px;">{{articleReviews[3].author}}</b>
              <p>{{articleReviews[3].score}}</p>
            </div>
          </div>
          <p>{{articleReviews[3].comment | slice:0:200}}<span *ngIf="currentArticleReviewes.review.length > 200">...</span></p>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="section-header">
        <h2 class="section__title">Related articles</h2>
        <a routerLink="/article-listing/related" class="view-all">View all</a>
      </div>
      <div class="article-box-container">
        <div class="article-box" *ngFor="let article of relatedArticles" (click)="navigateToSelectedArticle(article.id)">
          <img [src]="article.imageUrl" alt="Article image" class="article-image">
          <div class="article-details">
            <h3 class="article-title">{{ article.title }}</h3>
            <p class="article-category">{{ article.category }}</p>
            <div class="ratings">
              <p class="article-rating">{{ article.rating }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
  <app-footer>Footer content</app-footer>
</body>
