<body>
  <app-header>Header content</app-header>
  <main>
    <section class="section">
      <div class="section-header">
        <h2 class="section__title">Recommended articles</h2>
        <div class="linkic">
          <a routerLink="/article-listing/recommended" class="view-all">View all</a>
          <mat-icon class="view-arrow">keyboard_arrow_right</mat-icon>
        </div>
      </div>
      <div *ngIf="allArticles.length === 0 || allArticles === undefined">
        <h3>There are no articles</h3>
      </div>
      <div class="article-box-container">
        <div class="article-box" *ngFor="let article of recommendedArticles">              
          <div *ngIf="article.denied === null" class="article-details">
            <h3 class="article-title">{{ article?.title }}</h3>
            <h6 class="article-author">{{ article?.author }}</h6>
              <div class="ratings">
                <mat-icon class="star-style">star</mat-icon>
                <p class="article-rating">{{ calculateAverageScore(article) }}</p>
              </div>
            <div>{{article.description}}</div>
            <button class="select-article" (click)="article.articleId && navigateToSelectedArticle(article.articleId)">View article</button>
          </div>
      </div>
    </div>
    </section>

    <section class="sectionMiddle">
      <div class="left-side">
          <div class="left-sideCenter">
              <h1 class="middle-title">{{ currentArticle?.title }}</h1>
              <h6 class="article-author">{{ currentArticle?.author }}</h6>
              <p class="middle-description"> {{currentArticle?.description}}</p>
              <button class="middle-button" (click)="currentArticle.articleId && navigateToSelectedArticle(currentArticle.articleId)">Explore more</button>
          </div>
      </div>
      <div class="right-side">

      </div>    
    </section>

    <section class="section">
      <div class="section-header">
        <h2 class="section__title">Popular articles</h2>
        <div class="linkic">
          <a routerLink="/article-listing/popular" class="view-all">View all</a>
          <mat-icon class="view-arrow">keyboard_arrow_right</mat-icon>
        </div>
      </div>
      <div *ngIf="allArticles === undefined || allArticles.length === 0">
        <h3>There are no articles</h3>
      </div>
      <div class="article-box-container">
        <div class="article-box" *ngFor="let article of popularArticles">              
          <div *ngIf="article.denied === null" class="article-details"> <!--zakaj tle dela čeprovv je null??-->
            <h3 class="article-title">{{ article?.title }}</h3>
            <h6 class="article-author">{{ article?.author }}</h6>
              <div class="ratings">
                <mat-icon class="star-style">star</mat-icon>
                <p class="article-rating">{{ calculateAverageScore(article) }}</p>
              </div>
            <div>{{article.description}}</div>
            <button class="select-article" (click)="article.articleId && navigateToSelectedArticle(article.articleId)">View article</button>
          </div>
      </div>
    </div>
    </section>
  </main>
  <app-footer>Footer content</app-footer>
</body>
